<% if @thing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

    <ul>
    <% @thing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name, class: "col-lg-3 control-label" %>
  <div class="col-lg-9 ui-widget">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :parent_id, class: "col-lg-3 control-label" %>
  <div class="col-lg-9">
    <%= f.select :parent_id, nested_set_options(Thing.world, @thing) {|i|
        "#{'-' * i.level} #{i.name}"
      }, {}, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :tags, class: "col-lg-3 control-label" %>
  <div class="col-lg-9 tag-select">
    <%= hidden_field_tag :tags, @thing.tags.map(&:id).join(','), class: '' -%>
  </div>
</div>
<div id="more">
  <div class="form-group">
    <%= f.label :description, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :acquired_on, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.date_field :acquired_on, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :cost, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :value, class: "form-control" %>
    </div>
  </div>
</div>