<div id="quick-search" class="ui-widget">
  <form action="<%= things_path %>" >
    <%= text_field_tag :query, params[:query] || params[:tags] %>
    <%= link_to '#', class: "btn btn-sm btn-primary f-submit" do %>
      <%= icon('search') %>
    <% end %>
    <br>
    <input type="checkbox" name="search_tags" title="search tags" id="search_tags" <%= 'checked="checked"' if params[:search_tags] %>>
    <label for="search_tags">Search Tags Only</label>
    <input type="submit" name="commit" value="Search" class="hide">
  </form>
</div>
<span class="ui-autocomplete-faux" style="display:none;"></span></br>