<% if @search %>
<h4><% if params[:marked_only] %>
  <span class="d-marked-count"><%= @things.count %></span>
  <% else %>
    <%= @things.count %>
  <% end %>
  found, matching <%= params[:search_tags] ? "tags" : "name" %>: '<%= @query || "*" %>'</h4>
<% end %>
<div id="things-list">
<% @things.each do |thing| %>
  <%= render :partial=>'thing_row', locals: {thing: thing, odd_even: (cycle("odd","even")), show_container:  true} %>
<% end %>
</div>
<br />
