<%= form_for(@thing, html: {class: "form-horizontal col-md-8"}) do |f| %>
  <div class="modal-footer">
    <%= link_to "Cancel", '#', class: "btn btn-sm btn-clear a-close-widget" %>
    <%=
      link_options = {data: {confirm: "Are you sure you want to delete #{@thing.name}?"},
        method: :delete, title: "Delete #{@thing.name}", class: "btn btn-danger btn-sm"}
      (link_options[:disabled] = 'disabled') if @thing.children.any?
      link_to "Delete", @thing, link_options
    %>
    <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'form', locals: {containers: @containers, f: f} %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to "Cancel", '#', class: "btn btn-sm btn-clear a-close-widget" %>
    <%=
      link_options = {data: {confirm: "Are you sure you want to delete #{@thing.name}?"},
        method: :delete, title: "Delete #{@thing.name}", class: "btn btn-danger btn-sm"}
      (link_options[:disabled] = 'disabled') if @thing.children.any?
      link_to "Delete", @thing, link_options
    %>
    <%= f.submit 'Update', class: "btn btn-primary btn-sm" %>
  </div>
<% end %>