<div class="row">
  <div id="thing-index" class="things col-md-4 <%= @marked_things_only ? "raj-mt-loader" : "raj-loader" %>" data-raj-url="<%= things_path %>"
    data-raj-params='<%=
      data = {
        query: params[:query]
      }
      data[:search_tags] = true if params[:search_tags]
      data[:marked_only] = true if params[:marked_only]
      data.to_json
    %>'>
  </div>
  <div class="col-md-4">
    <div class="select-actions">
      <%= link_to "Move", bulk_update_things_path, class: "a-move-selected btn btn-sm btn-info" %>
      <%= link_options = {data: {confirm: "Are you sure you want to unmark all selected objects?"},
        title: "Unselect All", class: "btn btn-warning btn-sm a-unmark-selected"}
      (link_options[:disabled] = 'disabled') if @things.empty?
      link_to "Clear", bulk_update_things_path, link_options %>
      <%= link_options = {data: {confirm: "Are you sure you want to delete all selected objects?"},
        title: "Del Selected", class: "btn btn-danger btn-sm a-destroy-selected"}
      (link_options[:disabled] = 'disabled') if @things.empty?
      link_to "Del", bulk_update_things_path, link_options %>
      <%= link_to "Tags", "#", class: "btn btn-primary btn-sm a-tagger" %>
    </div>
    <%= render "things/tagger" %>
    <div id="tree" data-url="/things/tree.json?current=<%= Thing.world.id %>"></div>
  </div>
  <div class="col-md-4">
    <%= render :partial=>'quick_search' %>
  </div>
</div>
