<div id="thing-details">
  <div id="name-description">
    <div id="name">
      <%=h @thing.name %>
      <span id="marked" class="action">
        <%= link_to(toggle_marked_thing_path(@thing), title: 'Toggle Marked', id: "#{@thing.id}_marked", remote: true, data: {type: 'script'}) do %>
          <%= icon('check-square', '', class: @thing.marked ? "dimmed marked" : "dimmed") %>
        <% end %>
      </span>
      <span id="edit" class="action">
        <%= link_to(edit_thing_path(@thing, ref: CGI::escape(request.fullpath)), title: "Edit #{@thing.name}", class: "thickbox") do %>
          <%= icon('edit', '') %>
        <% end %>
      </span>
      <span id="delete" class="action">
        <%= link_to(@thing, confirm: "Are you sure you want to delete #{@thing.name}?", method: :delete, title: "Delete #{@thing.name}" ) do %>
          <%= icon('minus-square', '', class: "danger")  %>
        <% end %>
      </span>

    </div>

    <div id="description">
      <%=h @thing.description %>
    </div>
    <div id="container">
      <% parent = @thing.container %>
      <% if parent %>
        <div id="path">
          <% while parent && parent.tree_depth > 0%>
          < <a href='<%=url_for(parent)%>'><%=parent.name%></a>
          <% parent = parent.container %>
          <% end %>
        </div>
      <% else %>
        <b>No container</b>
      <% end -%>
    </div>
  </div>



  <div id="cost">
    <b>Cost:</b>
    <%=h @thing.cost %>
  </div>

  <div id="value">
    <b>Value:</b>
    <%=h @thing.value %>
  </div>

  <div id="dimensions">
    <%=h @thing.depth %>"x<%=h @thing.width %>"x<%=h @thing.height %>"
  </div>

  <div id="weight">
    <%=h @thing.weight %>
  </div>

  <div id="acquisition_date">
    <b>Acquisition date:</b>
    <%=h @thing.acquired_on %>
  </div>

  <div id="contained">
    <div id="header">
      <span id="contains">Contains:</span>
      <div id="toolbar">
        <span class="action"><%= link_to '<img src="/images/icons/add.png">', url_for(:controller=>:things, :action=>:new, :container_id=>@thing.id, :width=>"300", :ref=>CGI::escape(request.fullpath)), :title=>'Add Contained Thing', :class=>"thickbox" %></span>
      </div>
    </div>
    <div id="things-list">
      <% if !@thing.contained.blank? %>
        <% @thing.contained.each do |thing| %>
          <%= render :partial=>'thing_row', locals: {thing: thing, odd_even: (cycle("odd","even"))} %>
        <% end -%>
      <% else %>
        <span id="nothing">Does not contain anything.</span>
      <% end -%>
    </div>
  </div>
</div>

<br/>
<%= render :partial=>'quick_search' %>
