<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @thing.parent_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Aquired on:</strong>
  <%= @thing.aquired_on %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @thing.cost %>
</p>

<p>
  <strong>Value:</strong>
  <%= @thing.value %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
