<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @noun.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @noun.parent_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @noun.description %>
</p>

<p>
  <strong>Aquired on:</strong>
  <%= @noun.aquired_on %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @noun.cost %>
</p>

<p>
  <strong>Value:</strong>
  <%= @noun.value %>
</p>

<%= link_to 'Edit', edit_noun_path(@noun) %> |
<%= link_to 'Back', nouns_path %>
