<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path("boxes-icon-152x152.png") %>">
  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path("boxes-icon-144x144.png") %>">
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path("boxes-icon-120x120.png") %>">
  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("boxes-icon-114x114.png") %>">
  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_path("boxes-icon-76x76.png") %>">
  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("boxes-icon-72x72.png") %>">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("boxes-icon.png") %>">

  <!-- Turn off chrome on mobile browsers -->
  <!-- android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
  <meta name="apple-mobile-web-app-title" content="Containers">

  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

  <link rel="icon" href="<%= asset_path("boxes-icon.png") %>">
  <title>Containers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="<%= Rails.env %>">

  <div id="main-container" class="container">
    <%= render 'layouts/navigation' %>
    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
    </div>
    <div class="row">
      <div id="inline-widget" class="col-xs-12">
      </div>
    </div>
    <div id="content" class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="row"><%= yield :footer %></div>
  </div>
  <%= render "layouts/modal_templates" %>
  <%= render_raj_json %>
  <%= render_raj_modal %>
</body>
</html>