<!DOCTYPE html>
<html>
<head>
  <title>Boxes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
    <div id="header" class="row"><%= yield :header %></div>
    <div id="content" class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="row"><%= yield :footer %></div>
  </div>

</body>
</html>
